<div class='col_fade'>
  <p>WaterdropParty is a free community for all party lovers based in Melbourne Australia.</p>
  
  <p>Website is built on <a href="https://github.com/cnodejs/nodeclub" target="_blank" class="sponsor_outlink">nodeclub</a>. Maintained by <a href="https://www.linkedin.com/in/simon-han-22207b1a" target="_blank"/> Simon</a> for fun. For ads or other concern, please <a href="mailto:support@waterdropparty.com.au?subject=WaterdropParty Feedback">Send us an email.</a>
</p>
</div>
