<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown Syntax</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### Single Row</tt></li>
        <li><tt>**Bold**</tt></li>
        <li><tt>`console.log('code inline')`</tt></li>
        <li><tt>```js\n code \n```</tt>Code Section</li>
        <li><tt>[Content](Link)</tt></li>
        <li><tt>![Description](Image Link)</tt></li>
      </ol>
      <span><a href='https://segmentfault.com/markdown' target='_blank'>Markdown Ref</a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Tips to Create Topic</span>
    </div>
    <div class='inner'>
      <ol>
        <li>- Use the Title Concisely</li>
        <li>- Any concern please contact us</li>
      </ol>
    </div>
  </div>

</div>
